.vscode/settings.json
Brad_Soblesky.2/Brad Soblesky.2.exe
cppFunc/vc140.pdb
cppFunc/twentythirdcrack.exe
cppFunc/twentythirdcrack.ilk
cppFunc/twentythirdcrack.obj
cppFunc/twentythirdcrack.pdb
cppFunc/twentyfourthcrack.obj
cppFunc/twentyfourthcrack.pdb
cppFunc/twentyfourthcrack.ilk
.DS_Store
CRACKME3.KEY
cppFunc/hexToAscii.pdb
__pycache__/common.cpython-37.pyc
__pycache__/commonForm.cpython-37.pyc
cppFunc/hexToAscii.ilk
cppFunc/hexToAscii.obj
cppFunc/hexToAscii.exe
cppFunc/dllInject.exe
cppFunc/dllInject.ilk
cppFunc/dllInject.obj
cppFunc/dllInject.pdb
cppFunc/NewMenu.cpp
cppFunc/NewMenu.obj
cppFunc/fortyFirstDll.exp
cppFunc/fortyFirstDll.lib
cppFunc/fortyFirstDll.obj
cppFunc/41~50/fortyFirstDll.exp
cppFunc/41~50/fortyFirstDll.lib
cppFunc/41~50/fortyFirstDll.obj
